{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    <h1>Dashboard</h1>
    {% with total_images_created=request.user.images_created.count %}
        <p>Welcome to your dashboard. {% if total_images_created %}You have bookmarked {{ total_images_created }}
            image{{ total_images_created|pluralize }}.{% else %}You haven't bookmarked any images yet.{% endif %}</p>
    {% endwith %}
    <p>Drag the following button to your bookmarks toolbar to bookmark images from other
        websites → <a href="javascript:{% include 'bookmarklet_launcher.js' %}" class="button">Bookmark it</a><p>
    <p>You can also <a href="{% url 'account:edit' %}">edit your profile</a> or
    <a href="{% url 'account:password_change' %}">change your password</a>.<p>
    <h2>What's happening:</h2>
    <div id="action-list" class="action-list">
        {% include "actions/detail.html" %}
    </div>
{% endblock %}

{% block domready %}
    var page = 1;
    var empty_page = false;
    var block_request = false;

    $(window).scroll(function() {
        var margin = $(document).height() - $(window).height() - 200;
        if ($(window).scrollTop() > margin && empty_page == false && block_request == false){
            block_request = true;
            page += 1;
            $.get('?page=' + page, function(data) {
                if(data == '') {
                    empty_page = true;
                }
                else {
                    block_request = false;
                    $('#action-list').append(data);
                }
            });
        }
    });
{% endblock %}