{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{{ image.title }}{% endblock title %}

{% block content %}
    <h1>{{ image.title }}</h1>
    <h2>posted by <a href="{{ image.user.get_absolute_url }}">{{ image.user.get_full_name }}</a></h2>
    <a href="{% url 'images:update' pk=image.pk slug=image.slug %}">
        Update
    </a>
    <br>
    <br>
    {% thumbnail image.image "260" as im %}
        <a href="{{ im.url }}">
            <img src="{{ im.url }}" class="image-detail">
        </a>
    {% endthumbnail %}
    {% with total_likes=image.users_like.count users_like=image.users_like.all %}
        <div class="image-info">
            <div>
                <span class="count">
                    <span>{{ total_views }}</span> view{{ total_views|pluralize }}
                    <span class="total">{{ total_likes }}</span> like{{ total_likes|pluralize }}
                </span>
                <a href="#" data-id="{{ image.id }}" data-action="{% if request.user in users_like %}un{% endif %}like"
                   class="like button">
                    {% if request.user not in users_like %}
                        Like
                    {% else %}
                        Unlike
                    {% endif %}
                </a>
            </div>
            {{ image.description|linebreaks }}
        </div>
        <div class="image-likes">
            <h2>People who liked this post:</h2>
            {% for user in image.users_like.all %}
            <div>
                <a href="{{ user.get_absolute_url }}">
                    <img src="{{ user.profile.photo.url }}">
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                </a>
            </div>
            {% empty %}
                This image has no likes at the moment.
            {% endfor %}
        </div>
    {% endwith %}
{% endblock %}

{% block domready %}
    $('a.like').click(function(e){
        e.preventDefault();
        $.post("{% url 'images:like' %}",
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
            function(data){
                if(data['status'] == 'ok')
                {
                    var previous_action = $('a.like').data('action');

                $('a.like').data('action', previous_action == 'like' ?
    'unlike' : 'like');
                $('a.like').text(previous_action == 'like' ? 'Unlike' :
    'Like');
                var previous_likes = parseInt($('span.count .total').text());
                $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1)
                }
            }
        );
    });
{% endblock domready %}